<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>
        	{% block page_title %}{% endblock page_title %}
    	</title>
		<meta name="description" content="Draggable Dual-View Slideshow: A Slideshow with two views and content area" />
		<meta name="keywords" content="draggable, slideshow, fullscreen, carousel, views, zoomed, 3d transform, perspective, dragdealer" />
		{% block header_css %}{% endblock header_css %}
    	{% block header_js %}{% endblock header_js %}
    	{% block header_fonts %}{% endblock header_fonts %}
    	{% block header_icons %}{% endblock header_icons %}
	</head>

	<body {% block body_tags %}{% endblock body_tags %}/>

		{% block body %}Hello, World!{% endblock body %}
		{% block footer %}{% endblock footer %}
		
		{% block footer_js %}{% endblock footer_js %}
		{% block footer_css %}{% endblock footer_css %}

	</body>
</html>